#register-form
    .container        
        padding-bottom 20px
        form
            background #FFF
        .has-account
            font-size 0.8em
            text-align center
            
@media medium-screen-up
    // Nothing? Yes NOTHING
                
@media large-screen-up
    // Nothing? Yes NOTHING