.home-page
    height 100%
    .nav
        position absolute
        right 10px
        ul
            margin 0px
            text-align left
            list-style-type none
            li
                margin 5px
                float left
                a
                    color #CCC
                    display block
                    padding 5px 7px
                    &:hover
                        color #FFF
                        border 0px
                a.login
                    border 1px solid #CCC
                    &:hover
                        border-color #FFF
    
    .header
        height 100%
        background #000
        background-linear-gradient(0, #333, 0%, #000, 100%)
        .inner
            padding-top 100px
            color #FFF
            text-align center
            .ribbon
                position absolute
                width 100%
                bottom 0px
            h1, h3
                margin 10px 70px
            .cta-buttons
                margin 40px
                span
                    margin 20px
                    a
                        color #FFF
                        border-bottom 1px solid #FFF

@media medium-screen-up 
    .home-page
        .nav
            right 15px
            ul
                li
                    margin 15px
                    a
                        padding 7px 14px
        .header
            .inner
                h1, h3
                    margin 20px 100px
@media large-screen-up 
    .home-page
        .nav
            right 20px
            ul
                li
                    margin 20px
                    a
                        padding 10px 15px
        .header
            .inner
                h1, h3
                    margin 40px 120px

@media huge-screen-up 
    .home-page
        .nav
            right 20px
            ul
                li
                    margin 20px
                    a
                        padding 10px 15px
        .header
            .inner
                h1, h3
                    margin 80px 120px