/*
	Imports all styles used in this project
*/

@import('libs/grid.styl')

@import('shared/constants.styl')
@import('shared/html.styl')
@import('shared/mixins.styl')
@import('shared/classes.styl')
@import('shared/forms.styl')
@import('shared/buttons.styl')

@import('components/ribbon.styl')
@import('components/dashboard-menu.styl')

@import('layouts/layout.styl')

@import('views/auth/login.styl')
@import('views/auth/register.styl')
@import('views/home/index.styl')
@import('views/dashboard/index.styl')
