/*
	Put all globally used variables here
*/

/*
    Colors
*/ 
primary-color = #002CFF
primary-dark-color = #122EB2
primary-complement-color = #FFF

secondary-color = #69CC14
secondary-dark-color = #57B209
secondary-complement-color = #FFF

action-primary-color = #FF5219
action-primary-complement-color = #FFF

action-warning-color = #FF6532
action-warning-complement-color = #FFF

action-warning-deep-color = #B23309

line-color = #CFCFCF
shade-color = #EFEFEF
light-shade-color = #FCFCFC

link-color = primary-color

medium-screen-up = "screen and (min-width: 600px)"
large-screen-up = "screen and (min-width: 801px)"
huge-screen-up = "screen and (min-width: 1280px)"

small-screen-only = "screen and (max-width: 600px)"
medium-screen-only = "screen and (min-width: 600px) and (max-width: 801px)"
large-screen-only = "screen and (min-width: 801px) and (max-width: 1280px)"

