html, body 
    height 100%
    margin 0px
    font-family Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif
h1, h2, h3, h4, h5
    font-weight normal
    margin 0px
  
hr
    border 0px
    border-bottom 1px solid line-color  
h1
    font-size 25px
h2
    font-size 23px
h3
    font-size 18px
h4
    font-size 15px
h5
    font-size 12px
    span, p, a
        font-size 10px
a
    text-decoration none
    color link-color
a:hover
    border-bottom 1px solid link-color

@media medium-screen-up 
    h1
        font-size 35px
    h2
        font-size 30px
    h3
        font-size 25px
    h4
        font-size 13px
    h5
        font-size 13px
    span, p, a
        font-size 12px
            
@media large-screen-up 
    h1
        font-size 85px
    h2
        font-size 40px
    h3
        font-size 35px
    h4
        font-size 23px
    h5
        font-size 16px
    span, p, a
        font-size 14px
            
@media huge-screen-up 
    // TODO: Stuff here
    