.dashboard-menu
    background shade-color
    box-shadow 1px 1px #CCC
    ul
        margin 0px
        padding 0px
        list-style-type none
        li
            a
                border-left 4px solid line-color
                padding 20px
                display block
                color #666
                &:hover
                    border-color action-primary-color
                    border-bottom 0px
                    background line-color
                    background-linear-gradient(0, #DCDCDC, 50%, line-color, 100%)
        li.settings
            border-top 1px solid line-color
            a
                &:hover
                    border-color primary-color
                